<div class="center hero-unit">
  <h1>Welcome to Socialyte!</h1>

  <h2>
    This is the home page for Socialyte, the new event discovery
    web application
  </h2>

 
  <% if current_user %>
  	Welcome, <%= current_user.name %>!
    <br>
    <%= image_tag(current_user.email) %>
    <br>
    <%= link_to "Sign in with Foursquare", "/auth/foursquare" %>
  	<%= link_to "Sign out", signout_path %>
  <% else %>
  <!--<%= link_to "Sign up now!", signup_path %>-->
  	<%= link_to "Sign in with Facebook!", "/auth/facebook",class: "btn btn-large btn-primary" %>
  <% end %>
</div>
