<% provide(:title, @title) %> 
<div class="row">
  <aside class="span4" id="sidebar">
    <section>
			<%= image_tag(@user.avatar) %>
			<h1><%= @user.name %></h1>
			<span><%= link_to "view my profile", @user %></span> <span><b>Events:</b> <%= @user.events.count %></span>
    </section>
    <section>
			<%= render 'shared/stats' %> 
			<% if @users.any? %>
				<div class="user_avatars">
					<% @users.each do |user| %>
					<%= link_to image_tag(user.avatar, size: 30), user %> 
					<% end %>
				</div> 
			<% end %>
    </section>
  </aside>
  <div class="span6" id="followers">
		<h3><%= @title %></h3> 
		<% if @users.any? %> 
			<ul class="users">
				<%= render @users %> 
			</ul>
		<% end %>
  </div>
</div>