<li>
  <span class="content"><%= event.name %></span>
  <p class="timestamp">
    <%= event.start_time.strftime("%b %d") %> |
		<%= event.start_time.strftime("%I:%M %P") %>
  </p>
  <span>
  	<%= event.location %>
  </span>
  <% if current_user?(event.user) %>
    <%= link_to "delete", event, method: :delete,
                                 confirm: "You sure?",
                                 title: event.name %>
  <% end %>
</li>