<% provide(:title, 'Events') %>
	<h2><%= @event.name %></h2>
	<br>
	<div class="span12" id="description">
		<h4>Description</h4>
		
			<%= @event.description %>
		
	</div>

	<div class="span12" id="other-info">
		<p>
			<ul>
				<li>
					Start Time:<%= @event.start_time %>
				</li>
				<li>
					Location:<%= @event.location %>
				</li>
				<li>
					Created By: <%= link_to User.find(@event.user_id).name, User.find(@event.user_id) %>
				</li>
			<ul>
		</p>
	</div>

